@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
  overflow: hidden;
}

html {
  touch-action: none;
}

body {
  background-color: #fdfdfd !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .pixelLogo{
    width: 546px;
    height: auto;
  }
  .guy-container{
    position: absolute;
    right: -17%;
    top: 68%;
    z-index: 99999;
  }
  .guy{
    width: 727px;
    height: auto;
  }
  .logo-vm{
    position: absolute;
    top: 85%;
    /* left: 50%; */
    z-index: 9999;
  }
  .logo2 {
    width: 462px;
    height: auto;
  }
  p {
    -webkit-user-select: none;
    user-select: none;
  }
  .cursos-about{
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .image-grid img {
    width: 100px;
    height: auto;
  }
  .cursos-about .image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
  }
  .cursos-about p{
    color: #014B6E;
    font-family: 'Inter', sans-serif;
    font-size: 1.9375rem ;
  }
  .pixelart_container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  .yellow-circle {
    width: 137%;
    height: 684px;
    background-color: #E99839;
    border-radius: 50%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-text {
    position: absolute;
    top: 8vw;
    right: 10vw;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    max-width: 34vw;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }
  .button-play {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #37A786;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
  .button-ranking {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #014B6E;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
  .text-circle {
    width: 42vw;
    height: 42vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 1vw;
    left: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
    z-index: 4;
    /* Alterado para 4 para ficar acima da .image-container */
  }
  .text-circle p {
    color: #10AA69;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 8vw;
    margin-top: -8vw;
    margin-left: 1vw;
  }
  .pixelart_container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .pixelLogo{
    width: 546px;
    height: auto;
  }
  .guy-container{
    position: absolute;
    right: -17%;
    top: 68%;
    z-index: 99999;
  }
  .guy{
    width: 727px;
    height: auto;
  }
  .logo-vm{
    position: absolute;
    top: 85%;
    /* left: 50%; */
    z-index: 9999;
  }
  .logo2 {
    width: 462px;
    height: auto;
  }
  .image-grid img {
    width: 100px;
    height: auto;
  }
  .cursos-about{
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .cursos-about .image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
  }
  .cursos-about p{
    color: #014B6E;
    font-family: 'Inter', sans-serif;
    font-size: 1.9375rem ;
  }
  .pixelart_container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
  .yellow-circle {
    width: 137%;
    height: 684px;
    background-color: #E99839;
    border-radius: 50%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-text {
    position: absolute;
    top: 35px;
    color: white;
    font-size: 1.1rem;
    text-align: right;
    max-width: 360px;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }

  .button-play {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #37A786;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
  .button-ranking {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #014B6E;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
  .text-circle {
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -90px;
    left: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
    z-index: 4;
    /* Alterado para 4 para ficar acima da .image-container */
  }

}

@media (max-width: 768px) {
  .pixelLogo{
    width: 546px;
    height: auto;
  }
  .guy-container{
    position: absolute;
    right: -17%;
    top: 68%;
    z-index: 99999;
  }
  .guy{
    width: 727px;
    height: auto;
  }
  .logo-vm{
    position: absolute;
    top: 85%;
    /* left: 50%; */
    z-index: 9999;
  }
  .logo2 {
    width: 462px;
    height: auto;
  }
  .image-grid img {
    width: 100px;
    height: auto;
  }
  .cursos-about{
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .cursos-about .image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
  }
  .cursos-about p{
    color: #014B6E;
    font-family: 'Inter', sans-serif;
    font-size: 1.9375rem ;
  }
  .pixelart_container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }

  .text-circle {
    width: 270px;
    height: 270px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -90px;
    left: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
  }

  .text-circle p {
    color: #10AA69;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px;
    margin-top: -60px;
    margin-left: 30px;
    /* Ajuste para mover o texto para cima */
  }
  .yellow-circle {
    width: 137%;
    height: 684px;
    background-color: #E99839;
    border-radius: 50%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-text {
    position: absolute;
    top: 40px;
    color: white;
    font-size: 1rem;
    text-align: right;
    max-width: 280px;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }

  .button-play {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #37A786;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
  .button-ranking {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    font-size: 2.6rem;
    background-color: #014B6E;
    color: white;
    border-radius: 53px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    width: 39vw;
    text-align: center;
  }
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}